apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-deployment
spec:
  replicas: 3
  selector: 
    matchLabels:
      component: web
  template:
    metadata:
      labels: 
        component: web
      spec:
        containers:
          - name: client
            image: 172.18.16.10:30400/client
            ports:
              - containerPort: 3000
